/*General Styles*/

body {
  margin: 0;
  font-family: 'Lucida Console', 'Lucida Sans';
  background-image: url(lake-sunset-1.jpg);
  color: black;
}

header {
  height: 140px;
  background-color: #0D1317;
}

.logo {
  font-family: Montserrat;
  font-weight: 666;
  font-size: 72px;
  color: #6564DB;
  text-align: center;
  margin: 0;
}

header h2 {
  text-align: center;
  color: #89D2DC;
}

article {
  padding: 0 25%;
  margin: 80px 0;
}

/* horizontal ruler design */

hr {
	height: 32px;
	border: none;
  margin-top: 30px;
  margin-bottom: 20px;
	background-image: url("hr-tamer-yilmaz.png");
}

/* anchor tag design and pseudo-class */

a {
  font-family: arial;
  font-weight: bold;
  text-decoration: none;
  color: blue;
}

a:link {
   color: blue;  
}

a:visited { 
  color: red;   
}

a:hover { 
  color: green;
  font-weight: 900;
  text-decoration: underline; 
}

a:active { 
  color: pink;  
}

/* Cant figure out why the footer doesnt go all the way to the bottom of the page yet... */

footer {
  height: 140px;
  background-color: #0D1317;
}

footer p {
  text-align: center;
  color: #89D2DC;
  padding: 65px;
}